



.mapLocaticon {
    transition: ease-out;
    transition-duration: 2000ms;
    filter: grayscale(1) contrast(1.2) opacity(0.16);
}

.mapLocaticon:hover, :focus {
    transition: ease-out;
    transition-duration: 2000ms;
    filter: none;
}